extends base

block content
    section
        article
            img(class="relative w-full object-cover h-slider" src=`/images/mensen/mensen-657e4e1cd22d87786fd351a1-cover.webp`, alt=`image`)
            a(class="bg-red-700 pt-2.5 pb-2.5 pl-10 pr-10 text-2xl text-cyan-50  relative bottom-28" href="") Project

        div(class="flex justify-center items-center flex-col gap-2")
            h1(class="text-2xl") Mensen
            p(class="w-4/6") Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                |Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                |unknown printer took a galley of type and scrambled it to make a type specimen book. 
                |It has survived not only five centuries, but also the leap into electronic typesetting, 
                |remaining essentially unchanged. It was popularised in the 1960s with the release of 
                |Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
                |software like Aldus PageMaker including versions of Lorem Ipsum.

        article(class="pt-20 pb-8")
            ul(class="flex justify-center items-center flex-wrap gap-8")
                each expert in expertisen 
                    li(class="flex flex-col gap-2 w-80 h-card_height shadow-lg rounded-lg ")
                        img(class=" h-[13rem] rounded-tl-lg rounded-tr-lg" src=`/images/expertise/${expert.imageCover}`, alt=`${expert.imageCover}`)
                        article(class="flex flex-col gap-2 pl-3 pr-3")   
                            h3= expert.name
                            div(class="flex flex-col h-[15.5rem] gap-2")
                                p= expert.summary
                            a(href=`/viewexpert/${expert.slug}` class="w-20 h-[2.2rem] flex justify-center items-center rounded-sm border-blue-500 border-solid border-2 text-center") Bekijk het
            
            
                li(class="flex flex-col gap-2 w-80 h-card_height shadow-lg rounded-lg ")
                    img(class="h-[13rem] rounded-tl-lg rounded-tr-lg" src=`/images/expertise/expertise-6590cceeb17bf0e8f25195a3-cover.webp`, alt=`expertise-6590cceeb17bf0e8f25195a3-cover.webp`)
                    article(class="flex flex-col gap-2 pl-3 pr-3")   
                        h3 Bouwmanagement
                        div(class="flex flex-col h-[15.5rem] gap-2")
                            p (Her)huisvesting, kantoren, scholen en sportcomplexen: onze bouwmanagers kennen de specifieke Amsterdamse situatie en regels en begeleiden het gehele proces van uw (maatschappelijk) vastgoed. Van voorbereiding, ontwerpmanagement, vergunningentraject, tot aanbesteding en uitvoering van (ver)bouwprojecten.
                        a(href=`/pmb` class="w-20 h-[2.2rem] flex justify-center items-center rounded-sm border-blue-500 border-solid border-2 text-center") Bekijk het 

                li(class="flex flex-col gap-2 w-80 h-card_height shadow-lg rounded-lg ")
                    img(class="h-[13rem] rounded-tl-lg rounded-tr-lg" src=`/images/expertise/expertise-6590cf3db17bf0e8f25195ab-cover.webp`)
                    article(class="flex flex-col gap-2 pl-3 pr-3")   
                        h3 Maatschappelijk vastgoed
                        div(class="flex flex-col h-[15.5rem] gap-2")
                            p Onze maatschappelijk vastgoed adviseurs ontwikkelen in opdracht voorzieningenprogramma's voor transformatie- en stedelijke vernieuwingsgebieden, programma's van eisen voor maatschappelijke voorzieningen en beheer- en exploitatieplannen.
                        a(href=`/pmb` class="w-20 h-[2.2rem] flex justify-center items-center rounded-sm border-blue-500 border-solid border-2 text-center") Bekijk het 
                        

                li(class="flex flex-col gap-2 w-80 h-card_height shadow-lg rounded-lg ")
                    img(class="h-[13rem] rounded-tl-lg rounded-tr-lg" src=`/images/expertise/expertise-6590d19eb17bf0e8f25195bf-cover.webp`)
                    article(class="flex flex-col gap-2 pl-3 pr-3")   
                        h3 Meer informatie over inhuur
                        div(class="flex flex-col h-[15.5rem] gap-2")
                            p 
                                | Voor meer informatie over het inhuren van onze projectmanagers, bouwmanagers, planningsadviseurs of topadviseurs van de Wibautgroep kunt u contact opnemen met onze afdeling Matching &amp; Accountmanagement,
                                | via: mg_pmb.mat&shy;chin&shy;ge&shy;nac&shy;count&shy;ma&shy;na&shy;ge&shy;ment@am&shy;ster&shy;dam.nl

                        a(href=`/pmb` class="w-20 h-[2.2rem] flex justify-center items-center rounded-sm border-blue-500 border-solid border-2 text-center") Bekijk het 
                        
                
                        